<nav class="nav">
  <div class="nav-container">
    <a href="/blog"><h1 style="text-align:center;">Hi I'm Kelly and I Love My Blog</h1></a>

<style>
  .btn {
    background-color: #d8c3a5;
    font-weight:700;
  }

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</style>

      <div style="margin-bottom:5px; text-align:center;">
        <a href="/"><button class="btn">return to main site</button></a>
          <a href="/food/"><button class="btn">food</button></a>
        <a href="/resources"><button class="btn">resources</button></a>
        <a href="/contact"><button class="btn">contact</button></a>
      </div>
  </div>
</nav>
