<nav class="nav">
  <div class="nav-container">
    <a href="/" style="text-decoration: none;"><h1 class="text-center">Hi I'm Kelly and I Love My Life</h1></a>


      <div class="text-center" style="margin-bottom:5px;">
        <a href="/blog/"><button class="btn">blog</button></a>
          <a href="/food/"><button class="btn">food</button></a>
        <a href="/resources"><button class="btn">resources</button></a>
        <a href="/contact"><button class="btn">contact</button></a>
      </div>
  </div>
</nav>
