
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

<nav class="nav">
  <div class="nav-container">
    <a href="/blog"><h1 style="margin-top:15px;text-align:center; font-size: 40px;margin:0;font-weight:normal;">Hi I'm Kelly and I Love My Blog</h1></a>

      <div style="margin-bottom:5px;text-align:center;">
        <a href="/"><button class="btn">return to main site</button></a>
          <a href="/food/"><button class="btn">food</button></a>
        <a href="/resources"><button class="btn">resources</button></a>
        <a href="/contact"><button class="btn">contact</button></a>
      </div>
  </div>
</nav>
